.app-wrapper {
  display: grid;

  grid-template-areas: 
  'header header'
  'navBar profile'
  'footer footer';

  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: 2fr 14fr;

  min-height: 98vh;
}
